*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

header{
    background-image: url(../IMG/baner5.png);
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    color: white;
    font-size: 50px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    list-style-type: none;
    display: flex;
}

.nav-links{
    border: black 1px solid;
    margin-right: 5px;
    padding: 10px 20px 10px 20px;
    box-shadow: 3px 3px 5px darkblue;
}

.nav-links a{
    color: green;
    text-decoration: none;
}

.search button{
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
}

.search input{
    padding: 5px;
    border-radius: 30px;
}

main{
    display: flex;
}

main h1{
    color: blue;
    font-size: x-large;
    margin-bottom: 10px;
}

.section-1 p{
    border: black 1px solid;
    padding: 10px;
    font-style: italic; 
    box-shadow: -5px 5px 5px black;
    background: white;
    margin-left: 10px;
    margin-bottom: 20px;
}

.left-content{
    background-color: skyblue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
    margin-right: 10px;
}

.button button{
    background: cadetblue;
    color: white;
    padding: 5px 20px 5px 20px
}

.right-content img{
    width: 100px;
    border-radius: 100px;
}

.right-content{
    background-color: bisque;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
}

.card-1, .card-2, .card-3{
    display: flex;
}

footer{
    background-color: cadetblue;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input, select{
    border-radius: 10px;
}

form{
    margin-left: 10px;
}