body {
    margin: 0;
    background: linear-gradient(135deg, #f50294, #dfd6d8);
}
main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

form {
    width: 550px;
    padding: 35px;
    border-radius: 20px;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    border: 1px solid #d90276;
    box-shadow: 0 8px 32px rgba(0,0,0,0.37);
    color: white;
    display: grid;
    gap: 18px;
}

form h2 {
    text-align: center;
    font-size: 24px;
}

form p {
    font-size: 16px;
    text-align: center;
}

form input {
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.25);
    color: white;
}

form input:focus {
    background: #f50294;
}

form input::placeholder {
    color: white;
}

form .input-box {
    display: grid;
    gap: 10px;
}

.button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.button a,
.button button {
    display: flex;      
    align-items: center;
    justify-content: center;
    height: 55px;              
    border-radius: 12px;
    border: none;
    background: linear-gradient(135deg, #f50294, #ee89a9);
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.button a {
    background: transparent;
    border: 2px solid #ffffff;
}

.button a:hover {
    background: rgba(255,255,255,0.2);
    transform: translateY(-3px);
    opacity: 0.9;
}

.button button:hover {
    transform: translateY(-3px);
    background: rgba(255,255,255,0.2);
}