body {
    margin: 0;
    background: linear-gradient(135deg, #f50294, #dfd6d8);
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.left h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    white-space: nowrap;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
}

.slogan {
    color: #3af5ffcc;
    line-height: 2;
}

.slogan p {
    font-size: 40px;
    font-weight: 600;
}

.line1 {
    transform: translateX(0);
}

.line2 {
    transform: translateX(160px);
    color: #a5ecf0cc; 
}

.right {
    display: grid;
    justify-content: center;
    align-items: center;
}
.form {
    display: grid;
    place-items: center;
}
main form {
    width: 350px;
    padding: 35px;
    border-radius: 20px;
    background: rgb(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 1px solid #d90276;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: #fff;
    display: grid;
    gap: 18px;
}

main h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
}
::placeholder{
    color: #fff;
    opacity: 1;
}
.input-box input{
    width: 100%;
    padding: 12px 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.25);
    color: #fff;
    font-size: 14px;
}

.input-box input:focus {
    background: #f50294;
}

.checkbox-wrap {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    font-size: 13px;
    column-gap: 6px;
}

.checkbox-wrap a {
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.checkbox-wrap a:hover {
    text-decoration: underline;
    color: #ffd6ec;
}

main form > button {
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(135deg, #f50294, #ee89a9);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

main form > button:hover {
    background: rgba(255,255,255,0.5);
    transform: translateY(-2px);
}

.divider {
    display: grid;
    text-align: center;
    align-items: center;
    font-size: 13px;
    gap: 10px;
    grid-template-columns: 1fr auto 1fr;
    margin: 10px 0;
}

.divider::before,
.divider::after {
    content: "";
    height: 1px;
    background: #fff;
    opacity: 0.5;
}

.social-login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin: 10px;
}

.social-login a {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
    padding: 12px 18px;
    border-radius: 16px;
    border: 1px solid rgba(255,255,255,0.4);
    background: rgba(255,255,255,0.15);
    color: white;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.social-login a img {
    width: 22px;
    height: 22px;
}

.social-login a:hover {
    background: rgba(255,255,255,0.25);
    transform: translateY(-2px);
}

.signup {
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
}

.signup a {
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.signup a:hover {
    text-decoration: underline;
    color: #ffd6ec;
}