*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    background-image: url(../IMG/background.jpg);
    text-align: center;
}