.menu {
    list-style: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: pink;
    margin: 0;
    padding: 0;
    height: 50px;
    display: flex;
    align-items: center; 
}


.menu__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;    
    padding: 0 10px;
    border-right: 1px solid blue;
    text-transform: uppercase;
}


.menu__link>a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.menu__linkhouse {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding-left: 30%;  
    padding-right: 10px;   
    height: 100%;    
    border-right: 1px solid blue;
}
.menu__linksearch{
    margin-left: auto;
    border-right: none;
}
#title {
    color: #ad3a4a;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 5px 15px 15px #ad3a4a;
    text-align: center;
}

#starter {
    margin-top: 0;
    color: #aa2436;
    background-color: antiquewhite;
}

#desserts {
    margin-top: 0;
    color: #aa2436;
    background-color: antiquewhite;
}

#Honey {
    color: rgb(179, 143, 89);
    text-transform: uppercase;
    font-weight: bold;
}

#back {
    color: red;
}