*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Times New Roman', Times, serif;
}

.container{
    margin: 0 auto;
    width: 80%;
}

header{
    background-color: #ad4c15;
    padding: 20px;
}

header h1{
    color: #867e09;
    font-size: 50px;
    text-shadow: -3px -3px 3px white;
}

.nav{
    display: flex;
    list-style-type: none;
    border-bottom: 5px solid #9c9690;
}

.nav-links{
    padding: 5px 20px 5px 20px;
}

.nav-links a{
    text-decoration: none;
    color: orange;
}

.line{
    background-image: url(../IMG/line.png);
    height: 100px;
    background-repeat: repeat-x;
    background-size: contain;
    margin-bottom: 30px;
}

form input{
    border: none;
    border-bottom: 1px solid gray;
    margin-bottom: 30px;
}

.right-content{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.right p{
    margin-bottom: 50px;
    color: #9b9465;
    font-style: italic;
}

.right h1{
    margin-bottom: 10px;
    color: #9a8840;
}

.right-content form{
    display: flex;
    flex-direction: column;
}

.right-content button{
    width: 120px;
    height: 25px;
    background-color: #808100;
    color: white;
}

main{
    display: flex;
}

.left{
    border-left: 1px solid gray;
    padding: 0px 25px 0px 25px;
    margin-left: 70px;
    width: 40%;
}

.left-nav{
    background-color: #faebd8;
    padding: 0px 20px 0px 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: 30px;
}

.l-nav{
    margin-left: 40px;
    list-style-type: square;
    color: #78411b;
}

.left-nav h1{
    margin-bottom: 30px;
}

.l-nav-links a{
    color: #c69c7d;
    text-decoration: none;
}

.l-card img{
    float: left;
    width: 100px;
    border: 1px solid black;
    padding: 10px;
    margin: 0px 10px 10px 0px;
}

.left-info{
    margin-left: 20px;
    margin-top: 20px;
    margin: 20px 0px 40px 20px;
}

.left-info h1{
    margin-bottom: 30px;
}

footer{
    background-image: url(../IMG/footer.png);
    background-repeat: repeat-x;
    background-size: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img{
    width: 50px;
}

.footer-img-left, .footer-img-right{
    display: flex;
    flex-direction: column;
}

footer p{
    font-size: x-large;
}